{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Listado de libros
{% endblock titulo %}

{% block body %}
<div>
    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'crear_libro' %}')">Crear Libro</button>
</div>

{% if libros %}
<div class="card">
    <div class="card-header">
        <strong class="card-title">Listado de libros</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Fecha de publicación</th>
                    <th>Autor</th>
                    <th>Opciones</th>
                    
                </tr>
            </thead>
            <tbody> 
                {% for libro in libros %}
                <tr>
                    <td>{{libro.id}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.fecha_publicacion}}</td>
                    <td>{{libro.autor_id}}</td>
                    <td>
                        <button onclick="abrir_modal_edicion('{% url 'editar_libro' libro.id %}')" class="btn btn-primary">Editar</button>
                        <a href="{% url 'eliminar_libro' libro.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <h1>No existen libros registrados</h1>
{% endif %}

<div class="modal fade" id="creacion" role="dialog">

</div>

<div class="modal fade" id="edicion" role="dialog">

</div>

{% endblock body %}

{% block extrajs %}

{% endblock %}